In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/stores.csv')

In [3]:
df.head(3)

,user_name,facs_score,envr_score,serv_score,review,time,from
0,ç‰™å¤§é…¥,è®¾æ–½ï¼š5.0,ç¯å¢ƒï¼š5.0,æœåŠ¡ï¼š5.0,ç‰¹åˆ«èµçš„ä¸€å®¶å•†åœºï¼Œåœ¨ç‹åºœäº•è¿™ä¸ªå•†åœºäº‘é›†å’Œå¤§ç‰Œäº‘é›†çš„åœ°æ–¹ï¼Œapmå•†åœºç®—æ˜¯äººæ°”ç‰¹åˆ«é«˜çš„äº†ã€‚\näº¤...,2023-04-17 23:12,åŒ—äº¬apm
1,ç£•ç£•ç»Šç»Š,è®¾æ–½ï¼š5.0,ç¯å¢ƒï¼š5.0,æœåŠ¡ï¼š5.0,LINLEEåœ¨ç‹åºœäº•apmä¹Ÿå¼€æ–°åº—äº†ï¼Œè¶…çº§å–œæ¬¢ä»–ä»¬å®¶çš„å£å‘³ï¼Œå’Œæœ‹å‹é€›è¡—æ— æ„çœ‹åˆ°çš„ï¼Œæœæ–­å»ä¹°ä¸€...,2023-04-17 21:22,åŒ—äº¬apm
2,åƒè´§é˜¿æµª,è®¾æ–½ï¼š5.0,ç¯å¢ƒï¼š5.0,æœåŠ¡ï¼š5.0,åŒ—äº¬apm \nä¸œåŸåŒºå•†åœºçƒ­é—¨æ¦œç¬¬ä¸€åâ˜ï¸ğŸ¥‡\nç‹åºœäº•å¤§è¡—138å·\nç¯å¢ƒï¼šå•†åœºç¯å¢ƒå¹²å‡€æ•´é½...,2023-04-17 21:05,åŒ—äº¬apm

In [4]:
df.isnull().sum()

user_name     0
facs_score    0
envr_score    0
serv_score    0
review        0
time          0
from          0
dtype: int64

## 1. Format three columns (facs_score, envr_score, serv_score)

In [5]:
df.dtypes

user_name     object
facs_score    object
envr_score    object
serv_score    object
review        object
time          object
from          object
dtype: object

In [6]:
# Define the original and standard values to be replaced
original = ['è®¾æ–½ï¼š5.0', 'è®¾æ–½ï¼š4.5','è®¾æ–½ï¼š4.0', 'è®¾æ–½ï¼š3.5', 'è®¾æ–½ï¼š3.0', 'è®¾æ–½ï¼š2.5','è®¾æ–½ï¼š2.0', 'è®¾æ–½ï¼š1.5', 'è®¾æ–½ï¼š1.0', 'è®¾æ–½ï¼š0.5', 'è®¾æ–½ï¼š0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]

# Replace the values in the 'facs_score' column of the DataFrame 'df' with their corresponding standard values
df['facs_score'] = df['facs_score'].replace(original, standard)

In [7]:
# Same as the below
original = ['ç¯å¢ƒï¼š5.0', 'ç¯å¢ƒï¼š4.5','ç¯å¢ƒï¼š4.0', 'ç¯å¢ƒï¼š3.5', 'ç¯å¢ƒï¼š3.0', 'ç¯å¢ƒï¼š2.5','ç¯å¢ƒï¼š2.0', 'ç¯å¢ƒï¼š1.5', 'ç¯å¢ƒï¼š1.0', 'ç¯å¢ƒï¼š0.5', 'ç¯å¢ƒï¼š0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]
df['envr_score']= df['envr_score'].replace(original, standard)

In [8]:
# Same as the below
original = ['æœåŠ¡ï¼š5.0', 'æœåŠ¡ï¼š4.5','æœåŠ¡ï¼š4.0', 'æœåŠ¡ï¼š3.5', 'æœåŠ¡ï¼š3.0', 'æœåŠ¡ï¼š2.5','æœåŠ¡ï¼š2.0', 'æœåŠ¡ï¼š1.5', 'æœåŠ¡ï¼š1.0', 'æœåŠ¡ï¼š0.5', 'æœåŠ¡ï¼š0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]
df['serv_score']= df['serv_score'].replace(original, standard)

In [9]:
df.head(3)

,user_name,facs_score,envr_score,serv_score,review,time,from
0,ç‰™å¤§é…¥,5.0,5.0,5.0,ç‰¹åˆ«èµçš„ä¸€å®¶å•†åœºï¼Œåœ¨ç‹åºœäº•è¿™ä¸ªå•†åœºäº‘é›†å’Œå¤§ç‰Œäº‘é›†çš„åœ°æ–¹ï¼Œapmå•†åœºç®—æ˜¯äººæ°”ç‰¹åˆ«é«˜çš„äº†ã€‚\näº¤...,2023-04-17 23:12,åŒ—äº¬apm
1,ç£•ç£•ç»Šç»Š,5.0,5.0,5.0,LINLEEåœ¨ç‹åºœäº•apmä¹Ÿå¼€æ–°åº—äº†ï¼Œè¶…çº§å–œæ¬¢ä»–ä»¬å®¶çš„å£å‘³ï¼Œå’Œæœ‹å‹é€›è¡—æ— æ„çœ‹åˆ°çš„ï¼Œæœæ–­å»ä¹°ä¸€...,2023-04-17 21:22,åŒ—äº¬apm
2,åƒè´§é˜¿æµª,5.0,5.0,5.0,åŒ—äº¬apm \nä¸œåŸåŒºå•†åœºçƒ­é—¨æ¦œç¬¬ä¸€åâ˜ï¸ğŸ¥‡\nç‹åºœäº•å¤§è¡—138å·\nç¯å¢ƒï¼šå•†åœºç¯å¢ƒå¹²å‡€æ•´é½...,2023-04-17 21:05,åŒ—äº¬apm

### Check the outcome

In [10]:
df.loc[~df['facs_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [11]:
df.loc[~df['envr_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [12]:
df.loc[~df['serv_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [13]:
df.dtypes

user_name      object
facs_score    float64
envr_score    float64
serv_score    float64
review         object
time           object
from           object
dtype: object

## 2. Format one column (time)

In [14]:
# Select all rows in the 'time' column that contain the string 'æ›´æ–°äº' and store them in a pandas series
series = df[df['time'].str.contains("æ›´æ–°äº")]['time']

# Print the resulting series object
series

121      2023-03-12\nÂ Â æ›´æ–°äº2023-03-13 13:26
182      2022-01-21\nÂ Â æ›´æ–°äº2023-02-21 17:32
195      2023-02-16\nÂ Â æ›´æ–°äº2023-02-17 16:03
197      2023-02-09\nÂ Â æ›´æ–°äº2023-02-17 09:47
199      2023-02-15\nÂ Â æ›´æ–°äº2023-02-16 23:29
                       ...
14772    2019-05-27\nÂ Â æ›´æ–°äº2019-05-28 19:12
14790    2019-05-25\nÂ Â æ›´æ–°äº2019-05-26 14:34
14791    2019-05-25\nÂ Â æ›´æ–°äº2019-05-26 12:20
14835    2019-05-08\nÂ Â æ›´æ–°äº2019-05-12 10:20
14910    2019-04-22\nÂ Â æ›´æ–°äº2019-04-23 07:08
Name: time, Length: 648, dtype: object

In [15]:
# Convert the pandas series object to a Python list
time_list = series.tolist()

### Only keep the str behind 'æ›´æ–°äº'

In [16]:
# Create an empty list to store modified time strings
new_time_list = []

# Iterate over each item in the original time list
for item in time_list:
    # Extract the last 16 characters from each time string
    new_item = item[-16:]
    # Add the modified time string to the new list
    new_time_list.append(new_item)

In [17]:
# Get the length of the original time list
length1 = len(time_list)

# Get the length of the modified time list
length2 = len(new_time_list)

# Print the lengths of the two lists
print(length1, length2)

648 648

In [18]:
# Select all rows in the 'time' column that contain the string 'æ›´æ–°äº' 
# and replace the original time strings with the modified ones
df.loc[df['time'].str.contains("æ›´æ–°äº"), 'time'] = df.loc[df['time'].str.contains("æ›´æ–°äº"), 'time'].replace(time_list, new_time_list)

In [35]:
# Check the outcome
df[df['time'].str.contains("æ›´æ–°äº")]['time']

Series([], Name: time, dtype: object)

### Change dtype to datetime

In [20]:
# Convert the 'time' column to a datetime format using the specified format string
df['time'] = pd.to_datetime(df['time'], format="%Y-%m-%d %H:%M")

# Print the data types of all columns in the DataFrame
print(df.dtypes)

user_name             object
facs_score           float64
envr_score           float64
serv_score           float64
review                object
time          datetime64[ns]
from                  object
dtype: object

## 3. Drop the rows ( 'time' before 2020 )

In [21]:
# Get the number of rows in the DataFrame 'df'
num_rows = df.shape[0]

# Print a message that includes the number of rows
print("å…±æœ‰ {} æ¡æ•°æ®".format(num_rows))

å…±æœ‰ 14940 æ¡æ•°æ®

In [22]:
# Filter the DataFrame 'df' to include only rows with a 'time' value greater than or equal to '2020-01-01 00:00:00'
df = df[df['time'] >= '2020-01-01 00:00:00']

# Reset the index of the DataFrame 'df' after filtering
df = df.reset_index(drop=True)

In [23]:
# Get the number of rows in the DataFrame 'df'
num_rows = df.shape[0]

# Print a message that includes the number of rows
print("å…±æœ‰ {} æ¡æ•°æ®".format(num_rows))

å…±æœ‰ 11307 æ¡æ•°æ®

## 4. Drop the rows ( 'review' is too short )

In [24]:
# Create a new Pandas series called 'char_count_series' that calculates the number of characters in each row of the 'review' column in the DataFrame 'df'.
char_count_series = df['review'].apply(lambda x: len(str(x)))

# Print the 'char_count_series' to display the number of characters for each row in the 'review' column.
print(char_count_series)

0        148
1        147
2        120
3         60
4        111
        ...
11302     30
11303     98
11304    112
11305    149
11306    176
Name: review, Length: 11307, dtype: int64

In [25]:
# Keep only the rows where the length of the 'review' column is greater than or equal to 10.
df = df[df['review'].str.len() >= 10]

# Reset the index of the DataFrame 'df' after filtering.
df = df.reset_index(drop=True)

In [26]:
# Get the number of rows in the DataFrame 'df' using the 'shape' attribute.
num_rows = df.shape[0]

# Print the number of rows in the DataFrame 'df'.
print("å…±æœ‰ {} æ¡æ•°æ®".format(num_rows))

å…±æœ‰ 11307 æ¡æ•°æ®

## 5. Find duplicate review text

In [27]:
# Check for duplicates in the 'review' column of the DataFrame 'df'
duplicated = df['review'].duplicated().any()

# Print a message indicating whether there are duplicates or not
if duplicated:
    print("There are duplicate values in this column")
else:
    print("There are no duplicate values in this column")

There are no duplicate values in this column

## 6.  See if any users are posting multiple reviews

In [28]:
# Define values to skip
to_skip = ['åŒ¿åç”¨æˆ·', 'ã€å·²æ³¨é”€ç”¨æˆ·ã€‘']

# Find duplicated rows
not_skipped = ~df['user_name'].isin(to_skip) # create a boolean Series of values to skip
duplicated_rows = df[not_skipped].duplicated(subset=['user_name'], keep=False) # find duplicated rows
duplicate_df = df[not_skipped][duplicated_rows] # select only duplicated rows that are not skipped

# Print duplicated rows
duplicate_df.sort_values(by='user_name') # sort and print duplicated rows

,user_name,facs_score,envr_score,serv_score,review,time,from
11013,1å§œå§œ2,4.5,4.5,4.5,ä¸œæ–¹æ–°å¤©åœ°\nä½ç½®ï½ä¸œé•¿å®‰è¡—1å·\nè·åœ°é“1å·çº¿ç‹åºœäº•ç«™Aä¸œåŒ—å›—æ­¥è¡Œ220ç±³\nå¥½ä¹…æ²¡æ¥ä¸œæ–¹...,2020-05-30 19:33:00,ä¸œæ–¹æ–°å¤©åœ°
6846,1å§œå§œ2,4.5,4.5,4.5,ç‹åºœäº•åˆ°ä¸­ç¯å¹¿åœºï¼Œæˆ‘è§‰å¾—è¿™ä¸ªå•†åœºæœ‰é«˜æ¡£åˆæ¥åœ°æ°”ç‰¹åˆ«å¥½é€›çš„ä¸€ä¸ªå•†åœºï¼Œå°¤å…¶æ˜¯å¯¹çˆ±ä¹°ã€çˆ±æ‹ã€çˆ±åƒã€...,2020-08-06 21:38:00,ç‹åºœä¸­ç’°
4327,45åº¦æ¬ç –å®—,4.5,4.0,4.5,am+pm=apm ä¸€åº§åƒå–ç©ä¹åº”æœ‰å°½æœ‰çš„å•†åœº ç½‘çº¢å°åƒçœŸçš„ä¸å°‘\nå¥ˆé›ªçš„èŒ¶ æœ€çˆ±å¥¹å®¶å„ç§æ°´...,2020-02-15 10:18:00,åŒ—äº¬apm
6560,45åº¦æ¬ç –å®—,5.0,5.0,5.0,æœŸå¾…å·²ä¹…çš„å’–å•¡é’å¹´èŠ‚ç»ˆç»ˆç»ˆäºæ¥å•¦ è¿˜æ˜¯åœ¨å¯¸åœŸå¯¸é‡‘çš„ç‹åºœä¸­ç’° ç«‹åˆ»doubleé«˜å¤§ä¸Šäº†\nğŸ¥›O...,2020-09-16 18:51:00,ç‹åºœä¸­ç’°
2633,81821727,4.5,4.5,4.5,ç°åœ¨å¯ä»¥é€›çš„åº—ä¸æ˜¯å¾ˆå¤šï¼Œ\nä¸»è¦çš„äººæ°”éƒ½æ˜¯é¤å…ç»™çš„ï¼Œ\nå‘¨æœ«é¥­ç‚¹å„ç§æ’é˜Ÿï¼Œ\nå¹¸å¥½æ²¡æœ‰ä»€ä¹ˆæˆ‘...,2020-12-19 21:13:00,åŒ—äº¬apm
...,...,...,...,...,...,...,...
3241,é¾™å¥³çš„å¦ˆå¦ˆ,4.5,4.5,4.5,å¬è¯´ä¸œå®‰å¸‚åœºè¦å‡çº§ï¼Œäº§å“éƒ½åœ¨ä¿ƒé”€ä»Šå¤©ç‰¹æ„è¿‡æ¥çœ‹çœ‹æœ‰æ²¡æœ‰æ¼å¯æ¡çš„ã€‚äººè¿˜æ˜¯ä¸å°‘ï¼Œä¸€æ¥¼æœ‰æœè£…å’Œé‹ç‰¹...,2020-09-26 08:42:00,åŒ—äº¬apm
8770,é¾™å¥³çš„å¦ˆå¦ˆ,5.0,5.0,5.0,å¤§å¹´åˆå››é¡¶ç€é—¨å„¿è¿›å»çš„ã€‚å…ˆæ˜¯å»çš„å’Œå¹³è“å±€ã€‚å‚è§‚å®Œåå°±å»çš„æ¥¼ä¸Šï¼Œæ¥¼ä¸Šé¡¾å®¢ä¸æ˜¯å¾ˆå¤šã€‚è¿˜æœ‰ä»–å®¶è‡ªå·±...,2021-02-19 09:31:00,ç‹åºœäº•ç™¾è´§
10182,é¾™é£å‡¤èˆ,5.0,5.0,5.0,ä¸œæ–¹æ–°å¤©åœ°ä»æ‹¿åœ°ã€è®¾è®¡ã€æ–½å·¥åˆ°å¼€é—¨è¿å®¾ï¼Œå……æ»¡äº†ä¼ å¥‡å’Œæ•…äº‹ï¼Œä¹Ÿæ˜¯ç‹åºœäº•-ä¸œå•é»„é‡‘åŒºåŸŸçš„åœ°æ ‡ã€‚å…¶...,2022-05-05 10:49:00,ä¸œæ–¹æ–°å¤©åœ°
4756,é¾™é£å‡¤èˆ,5.0,5.0,5.0,ç‹åºœä¸­ç’°äººæ°”å›å‡å¤ªå¿«äº†ï¼Œä¸€ç»„è¿åœ£è¯çš„åœ£è¯æ ‘é€ å‹å¸å¼•äº†å¾ˆå¤šäººé©»è¶³æ¬£èµï¼Œåˆå½±æ‹ç…§ç•™å¿µã€‚å„ä¸ªé¤å…å¼€...,2022-12-24 18:36:00,ç‹åºœä¸­ç’°
53,é¾™é£å‡¤èˆ,5.0,5.0,5.0,åŒ—äº¬apmæ˜¯çŸ¥ååœ°æ ‡ä¹‹ä¸€ã€‚æ¯æ¬¡å»éƒ½ä¼šå‘ç°ä¸€äº›å˜åŒ–ï¼Œåƒå·ç»å˜è„¸ä¸€æ ·ï¼Œç†Ÿæ‚‰ä¸­æœ‰é™Œç”Ÿï¼Œå¦‚é¦–æ¬¡å‡ºç°åœ¨...,2023-04-05 20:35:00,åŒ—äº¬apm

After inspection, there is no violation of these comment data, so it will be retained

## 7. Save the new cleaned data

### Save as groupby

In [29]:
# Group the DataFrame 'df' by the values in the 'from' column
grouped = df.groupby('from')

# Define the folder name where the CSV files will be saved
folder_name = '../data'

# Iterate over each group and save it to a separate CSV file
for name, group in grouped:
    # Define the filename for the CSV file
    filename = f'{folder_name}/{name}.csv'
    # Save the group to the CSV file, without including the index column
    group.to_csv(filename, index=False)

### Save the total

In [30]:
df.to_csv('../data/stores_clean.csv', encoding='utf-8', index=False)