In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/stores.csv')

In [3]:
df.head(3)

,user_name,facs_score,envr_score,serv_score,review,time,from
0,牙大酥,设施：5.0,环境：5.0,服务：5.0,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,2023-04-17 23:12,北京apm
1,磕磕绊绊,设施：5.0,环境：5.0,服务：5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22,北京apm
2,吃货阿浪,设施：5.0,环境：5.0,服务：5.0,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,2023-04-17 21:05,北京apm

In [4]:
df.isnull().sum()

user_name     0
facs_score    0
envr_score    0
serv_score    0
review        0
time          0
from          0
dtype: int64

## 1. Format three columns (facs_score, envr_score, serv_score)

In [5]:
df.dtypes

user_name     object
facs_score    object
envr_score    object
serv_score    object
review        object
time          object
from          object
dtype: object

In [6]:
# Define the original and standard values to be replaced
original = ['设施：5.0', '设施：4.5','设施：4.0', '设施：3.5', '设施：3.0', '设施：2.5','设施：2.0', '设施：1.5', '设施：1.0', '设施：0.5', '设施：0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]

# Replace the values in the 'facs_score' column of the DataFrame 'df' with their corresponding standard values
df['facs_score'] = df['facs_score'].replace(original, standard)

In [7]:
# Same as the below
original = ['环境：5.0', '环境：4.5','环境：4.0', '环境：3.5', '环境：3.0', '环境：2.5','环境：2.0', '环境：1.5', '环境：1.0', '环境：0.5', '环境：0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]
df['envr_score']= df['envr_score'].replace(original, standard)

In [8]:
# Same as the below
original = ['服务：5.0', '服务：4.5','服务：4.0', '服务：3.5', '服务：3.0', '服务：2.5','服务：2.0', '服务：1.5', '服务：1.0', '服务：0.5', '服务：0.0']
standard = [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]
df['serv_score']= df['serv_score'].replace(original, standard)

In [9]:
df.head(3)

,user_name,facs_score,envr_score,serv_score,review,time,from
0,牙大酥,5.0,5.0,5.0,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,2023-04-17 23:12,北京apm
1,磕磕绊绊,5.0,5.0,5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22,北京apm
2,吃货阿浪,5.0,5.0,5.0,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,2023-04-17 21:05,北京apm

### Check the outcome

In [10]:
df.loc[~df['facs_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [11]:
df.loc[~df['envr_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [12]:
df.loc[~df['serv_score'].isin(standard)]

Empty DataFrame
Columns: [user_name, facs_score, envr_score, serv_score, review, time, from]
Index: []

In [13]:
df.dtypes

user_name      object
facs_score    float64
envr_score    float64
serv_score    float64
review         object
time           object
from           object
dtype: object

## 2. Format one column (time)

In [14]:
# Select all rows in the 'time' column that contain the string '更新于' and store them in a pandas series
series = df[df['time'].str.contains("更新于")]['time']

# Print the resulting series object
series

121      2023-03-12\n  更新于2023-03-13 13:26
182      2022-01-21\n  更新于2023-02-21 17:32
195      2023-02-16\n  更新于2023-02-17 16:03
197      2023-02-09\n  更新于2023-02-17 09:47
199      2023-02-15\n  更新于2023-02-16 23:29
                       ...
14772    2019-05-27\n  更新于2019-05-28 19:12
14790    2019-05-25\n  更新于2019-05-26 14:34
14791    2019-05-25\n  更新于2019-05-26 12:20
14835    2019-05-08\n  更新于2019-05-12 10:20
14910    2019-04-22\n  更新于2019-04-23 07:08
Name: time, Length: 648, dtype: object

In [15]:
# Convert the pandas series object to a Python list
time_list = series.tolist()

### Only keep the str behind '更新于'

In [16]:
# Create an empty list to store modified time strings
new_time_list = []

# Iterate over each item in the original time list
for item in time_list:
    # Extract the last 16 characters from each time string
    new_item = item[-16:]
    # Add the modified time string to the new list
    new_time_list.append(new_item)

In [17]:
# Get the length of the original time list
length1 = len(time_list)

# Get the length of the modified time list
length2 = len(new_time_list)

# Print the lengths of the two lists
print(length1, length2)

648 648

In [18]:
# Select all rows in the 'time' column that contain the string '更新于' 
# and replace the original time strings with the modified ones
df.loc[df['time'].str.contains("更新于"), 'time'] = df.loc[df['time'].str.contains("更新于"), 'time'].replace(time_list, new_time_list)

In [19]:
# Check the outcome
df[df['time'].str.contains("更新于")]['time']

Series([], Name: time, dtype: object)

### Change dtype to datetime

In [20]:
# Convert the 'time' column to a datetime format using the specified format string
df['time'] = pd.to_datetime(df['time'], format="%Y-%m-%d %H:%M")

# Print the data types of all columns in the DataFrame
print(df.dtypes)

user_name             object
facs_score           float64
envr_score           float64
serv_score           float64
review                object
time          datetime64[ns]
from                  object
dtype: object

## 3. Drop the rows ( 'time' before 2020 )

In [21]:
# Get the number of rows in the DataFrame 'df'
num_rows = df.shape[0]

# Print a message that includes the number of rows
print("共有 {} 条数据".format(num_rows))

共有 14940 条数据

In [22]:
# Filter the DataFrame 'df' to include only rows with a 'time' value greater than or equal to '2020-01-01 00:00:00'
df = df[df['time'] >= '2020-01-01 00:00:00']

# Reset the index of the DataFrame 'df' after filtering
df = df.reset_index(drop=True)

In [23]:
# Get the number of rows in the DataFrame 'df'
num_rows = df.shape[0]

# Print a message that includes the number of rows
print("共有 {} 条数据".format(num_rows))

共有 11307 条数据

## 4. Drop the rows ( 'review' is too short or too long )

In [24]:
df['review'] = df['review'].apply(lambda x: x.replace(' ', '').replace('\n', ','))

In [25]:
# Create a new Pandas series called 'char_count_series' that calculates the number of characters in each row of the 'review' column in the DataFrame 'df'.
char_count_series = df['review'].apply(lambda x: len(str(x)))

# sort char_count_series in descending order
char_count_series = char_count_series.sort_values(ascending=False)

# print the char_count_series
print(char_count_series)

9412    1888
6575    1705
6486    1497
6580    1408
4115    1152
        ...
9678      13
3705      13
5209      13
6148      11
3892      11
Name: review, Length: 11307, dtype: int64

In [26]:
# Keep only the rows where the length of the 'review' column is greater than or equal to 10.
df = df[df['review'].str.len() >= 20]
df = df[df['review'].str.len() <= 300]

# Reset the index of the DataFrame 'df' after filtering.
df = df.reset_index(drop=True)

In [27]:
# Get the number of rows in the DataFrame 'df' using the 'shape' attribute.
num_rows = df.shape[0]

# Print the number of rows in the DataFrame 'df'.
print("共有 {} 条数据".format(num_rows))

共有 10484 条数据

## 5. Find duplicate review text

In [28]:
# Check for duplicates in the 'review' column of the DataFrame 'df'
duplicated = df['review'].duplicated().any()

# Print a message indicating whether there are duplicates or not
if duplicated:
    print("There are duplicate values in this column")
else:
    print("There are no duplicate values in this column")

There are no duplicate values in this column

## 6.  See if any users are posting multiple reviews

In [29]:
# define values to skip
to_skip = ['匿名用户', '【已注销用户】']

# create boolean Series of values to skip
not_skipped = ~df['user_name'].isin(to_skip)

# find duplicated rows
duplicated_rows = df[not_skipped].duplicated(subset=['user_name'], keep=False)

# select only duplicated rows that are not skipped
duplicate_df = df[not_skipped][duplicated_rows]

# sort and print duplicated rows
duplicate_df = duplicate_df.sort_values(by='user_name')

duplicate_df

,user_name,facs_score,envr_score,serv_score,review,time,from
10211,1姜姜2,4.5,4.5,4.5,"东方新天地,位置～东长安街1号,距地铁1号线王府井站A东北囗步行220米,好久没来东方新天地...",2020-05-30 19:33:00,东方新天地
6333,1姜姜2,4.5,4.5,4.5,王府井到中环广场，我觉得这个商场有高档又接地气特别好逛的一个商场，尤其是对爱买、爱拍、爱吃、...,2020-08-06 21:38:00,王府中環
6078,45度搬砖宗,5.0,5.0,5.0,"期待已久的咖啡青年节终终终于来啦还是在寸土寸金的王府中環立刻double高大上了,🥛OATL...",2020-09-16 18:51:00,王府中環
4036,45度搬砖宗,4.5,4.0,4.5,"am+pm=apm一座吃喝玩乐应有尽有的商场网红小吃真的不少,奈雪的茶最爱她家各种水果味的冰...",2020-02-15 10:18:00,北京apm
7519,81821727,4.0,4.0,4.5,"已经习惯了前两年北京过年人少，,今年烟火气终于回来了，旺旺旺！,大楼以前是过年大家买糖的地方...",2023-01-29 21:36:00,王府井百货
...,...,...,...,...,...,...,...
3035,龙女的妈妈,4.5,4.5,4.5,听说东安市场要升级，产品都在促销今天特意过来看看有没有漏可捡的。人还是不少，一楼有服装和鞋特...,2020-09-26 08:42:00,北京apm
8122,龙女的妈妈,5.0,5.0,5.0,大年初四顶着门儿进去的。先是去的和平菓局。参观完后就去的楼上，楼上顾客不是很多。还有他家自己...,2021-02-19 09:31:00,王府井百货
49,龙飞凤舞,5.0,5.0,5.0,北京apm是知名地标之一。每次去都会发现一些变化，像川绝变脸一样，熟悉中有陌生，如首次出现在...,2023-04-05 20:35:00,北京apm
9436,龙飞凤舞,5.0,5.0,5.0,东方新天地从拿地、设计、施工到开门迎宾，充满了传奇和故事，也是王府井-东单黄金区域的地标。其...,2022-05-05 10:49:00,东方新天地
4444,龙飞凤舞,5.0,5.0,5.0,王府中環人气回升太快了，一组迎圣诞的圣诞树造型吸引了很多人驻足欣赏，合影拍照留念。各个餐厅开...,2022-12-24 18:36:00,王府中環

In [30]:
# count the occurrences for each duplicated user_name
occurrences = duplicate_df.groupby('user_name').size()

# sort and print the counts of occurrences
occurrences = occurrences.sort_values(ascending=False)
print(occurrences)

user_name
一米阳光        5
小米          5
jessiefp    4
阳光          4
风景          4
           ..
卡沙巴王子1      2
卤面666       2
原来是猪猪ya     2
双子星_559     2
对方正在向你呲牙    2
Length: 1080, dtype: int64

In [31]:
# find all rows with user_name "一米阳光"
rows = df[df['user_name'] == '一米阳光']['review']

# print the rows
print(rows)

3566     团购了这张券是真的超级划算了，50元抵100元花，去了西单大悦城的一家餐馆吃饭，貌似叫鹿港小...
6379     位于王府井大街的中环广场整体购物环境真不错！人非常少，品牌店很多：大牌，轻奢，运动品牌都不少...
7984     百货大楼的江湖地位那是不得了，那是全国人民的百货大楼哈……,不过由于各种原因，北京人逛百货大...
8889     北京王府井北京市百货大楼，应该是北京最老的商场了，建筑很有古典特色，算是钟楼吧，有时针，去的...
10481    很久没有来东方广场了，今天路过来看看，硬件保持的还是挺好的，里面加了好多珠宝品牌，珠宝什么时...
Name: review, dtype: object

### After inspection, there is no violation and malicious comment, so it will be retained.

## 7. Add a new column : avg_score

In [32]:
df.insert(4, 'avg_score', df.iloc[:, 1:4].mean(axis=1).round(1))

In [33]:
df.head(5)

,user_name,facs_score,envr_score,serv_score,avg_score,review,time,from
0,牙大酥,5.0,5.0,5.0,5.0,"特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。,交通...",2023-04-17 23:12:00,北京apm
1,磕磕绊绊,5.0,5.0,5.0,5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22:00,北京apm
2,吃货阿浪,5.0,5.0,5.0,5.0,"北京apm,东城区商场热门榜第一名☝️🥇,王府井大街138号,环境：商场环境干净整齐，布局分...",2023-04-17 21:05:00,北京apm
3,祁清和,4.5,4.5,4.5,4.5,一定要错过下午5点半以后，不然吃饭只能排队等半个小时，而且拿到号了一定别因为还有十几桌就走开...,2023-04-17 10:19:00,北京apm
4,樱桃子,4.5,4.5,4.5,4.5,"花·Young的年华……,2023年3🈷️31日～～5月3日，北京apm首层中庭，迎来7位艺...",2023-04-16 21:47:00,北京apm

## 8. Save the new cleaned data

### Save as groupby

In [34]:
# Group the DataFrame 'df' by the values in the 'from' column
grouped = df.groupby('from')

# Define the folder name where the CSV files will be saved
folder_name = '../data'

# Iterate over each group and save it to a separate CSV file
for name, group in grouped:
    # Define the filename for the CSV file
    filename = f'{folder_name}/{name}.csv'
    # Save the group to the CSV file, without including the index column
    group.to_csv(filename, index=False)

### Save the total

In [35]:
df.to_csv('../data/stores_clean.csv', encoding='utf-8', index=False)