In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('../data/original/beijing_apm.csv')
df2 = pd.read_csv('../data/original/wangfu_zhonghuan.csv')
df3 = pd.read_csv('../data/original/wangfujing_baihuo.csv')
df4 = pd.read_csv('../data/original/dongfang_xintiandi.csv')

In [3]:
df1.head(3)

,name,item,item 2,item 3,review-truncated-words,review-words,time
0,牙大酥,设施：5.0,环境：5.0,服务：5.0,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,2023-04-17 23:12
1,磕磕绊绊,设施：5.0,环境：5.0,服务：5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22
2,吃货阿浪,设施：5.0,环境：5.0,服务：5.0,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,2023-04-17 21:05

## Add 'from' column

In [4]:
df1.insert(df1.shape[1], 'from', '北京apm')
df2.insert(df2.shape[1], 'from', '王府中環')
df3.insert(df3.shape[1], 'from', '王府井百货')
df4.insert(df4.shape[1], 'from', '东方新天地')

## Concat and Merge the Data

In [5]:
dfs = [df1,df2,df3,df4]
new_df = pd.concat(dfs, axis=0, ignore_index=True)

In [6]:
new_df.head(3)

,name,item,item 2,item 3,review-truncated-words,review-words,time,from
0,牙大酥,设施：5.0,环境：5.0,服务：5.0,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,2023-04-17 23:12,北京apm
1,磕磕绊绊,设施：5.0,环境：5.0,服务：5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22,北京apm
2,吃货阿浪,设施：5.0,环境：5.0,服务：5.0,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,2023-04-17 21:05,北京apm

## Drop and Rename Columns

In [7]:
new_df.drop(labels='review-truncated-words', axis=1, inplace=True)

In [8]:
new_df.columns = [
    "user_name",
    "facs_score",
    "envr_score",
    "serv_score",
    "review",
    "time",
    "from"
]

In [13]:
new_df.head(3)

,user_name,facs_score,envr_score,serv_score,review,time,from
0,牙大酥,设施：5.0,环境：5.0,服务：5.0,特别赞的一家商场，在王府井这个商场云集和大牌云集的地方，apm商场算是人气特别高的了。\n交...,2023-04-17 23:12,北京apm
1,磕磕绊绊,设施：5.0,环境：5.0,服务：5.0,LINLEE在王府井apm也开新店了，超级喜欢他们家的口味，和朋友逛街无意看到的，果断去买一...,2023-04-17 21:22,北京apm
2,吃货阿浪,设施：5.0,环境：5.0,服务：5.0,北京apm \n东城区商场热门榜第一名☝️🥇\n王府井大街138号\n环境：商场环境干净整齐...,2023-04-17 21:05,北京apm

## Check for NaN Values

In [10]:
new_df.isnull().any()

user_name     False
facs_score    False
envr_score    False
serv_score    False
review        False
time          False
from          False
dtype: bool

In [11]:
new_df.isnull().sum()

user_name     0
facs_score    0
envr_score    0
serv_score    0
review        0
time          0
from          0
dtype: int64

## Save the new cleaned data

In [12]:
new_df.to_csv('../data/stores.csv', encoding='utf-8', index=False)